In [ ]:
import pandas as pd
data = {
'Nombre': ['Carlos', 'Ana', 'Luis','Pedro', 'María', None],
'Edad': [34, 29, None, 45, 25, 33],
'Fecha_Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01','2021/12/01','2021-05-20', '2020-03-12'],
'Resultado_Prueba': ['Positivo','Negativo', 'Positivo','Positivo', 'Negativo','Negativo']
}
df = pd.DataFrame(data)
print("Datos originales")
print(df)
#identificación de los datos faltantes
print("\nDatos faltantes")
print(df.isnull().sum())
#Validar y corregir formato de fecha de ingreso
df['Fecha_Ingreso'] = pd.to_datetime(df['Fecha_Ingreso'], errors='coerce', format='%Y-%m-%d')
df['Edad'].fillna(df['Edad'].mean(), inplace=True)

#Eliminar los registros faltantes
df.dropna(subset=['Nombre'], inplace=True)
print("\nDatos después de la limpieza:")
print(df)

Datos originales
   Nombre  Edad Fecha_Ingreso Resultado_Prueba
0  Carlos  34.0    2021-01-15         Positivo
1     Ana  29.0    2020/03/12         Negativo
2    Luis   NaN    2022-07-01         Positivo
3   Pedro  45.0    2021/12/01         Positivo
4   María  25.0    2021-05-20         Negativo
5    None  33.0    2020-03-12         Negativo

Datos faltantes
Nombre              1
Edad                1
Fecha_Ingreso       0
Resultado_Prueba    0
dtype: int64

Datos después de la limpieza:
   Nombre  Edad Fecha_Ingreso Resultado_Prueba
0  Carlos  34.0    2021-01-15         Positivo
1     Ana  29.0           NaT         Negativo
2    Luis  33.2    2022-07-01         Positivo
3   Pedro  45.0           NaT         Positivo
4   María  25.0    2021-05-20         Negativo

<ipython-input-6-6e576dc6438c>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].mean(), inplace=True)

In [ ]:
# prompt: Se tiene un conjunto de datos sobre transacciones de clientes que incluye el ID del cliente, el producto comprado, la cantidad, el precio y la fecha de la transacción. Algunos registros tienen errores en los precios y fechas.
# 1. Cliente ID: 1, 2, 3, 4, 5
# 2. Producto: A, B, C,D, E
# 3. Cantidad: 10, 20, None, 5, 15
# 4. Precio:100, 200$,300, cuatrocientos,500
# 5. Fecha Transacción: 2023-01-15,2023/02/20,2023-03-25,2023/04/30.2023-05-10

import pandas as pd

# Datos Originales
data = {
'ClienteID': [1, 2, 3, 4, 5],
'Producto': ['A', 'B', 'C', 'D', 'E'],
'Cantidad': [10, 20, None, 5, 15],
'Precio': ['100', '200$', '300', 'cuatrocientos', '500'],
'FechaTransaccion': ['2023-01-15', '2023/02/20', '2023-03-25', '2023/04/30', '2023-05-10']
}
df = pd.DataFrame(data)
print("Datos originales:")
print(df)
df['Cantidad'] = df['Cantidad'].fillna(df['Cantidad'].median())
df['Precio'] = df['Precio'].replace('cuatrocientos', '400')
df['Precio'] = df['Precio'].str.replace(r'[^0-9]', '', regex=True).fillna(0).astype(int)
df['FechaTransaccion'] = pd.to_datetime(df['FechaTransaccion'], errors='coerce', format='%Y-%m-%d')
print("\nDatos después de la limpieza:")
print(df)
print("\nVerificación final:")
print(df.isnull().sum())
print(df.dtypes)

Datos originales:
   ClienteID Producto  Cantidad         Precio FechaTransaccion
0          1        A      10.0            100       2023-01-15
1          2        B      20.0           200$       2023/02/20
2          3        C       NaN            300       2023-03-25
3          4        D       5.0  cuatrocientos       2023/04/30
4          5        E      15.0            500       2023-05-10

Datos después de la limpieza:
   ClienteID Producto  Cantidad  Precio FechaTransaccion
0          1        A      10.0     100       2023-01-15
1          2        B      20.0     200              NaT
2          3        C      12.5     300       2023-03-25
3          4        D       5.0     400              NaT
4          5        E      15.0     500       2023-05-10

Verificación final:
ClienteID           0
Producto            0
Cantidad            0
Precio              0
FechaTransaccion    2
dtype: int64
ClienteID                    int64
Producto                    object
Cantidad                   float64
Precio                       int64
FechaTransaccion    datetime64[ns]
dtype: object

In [58]:
#Crear un dataFrame de los datos sucios
import pandas as pd
data = {
'Nombre': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luisa', 'Carlos', 'Juan'], 'Edad': [25, 30, None, 29, 28, 200, 25],
'Email': ['juan@mail.com',	'maria@mail.com',	'pedro@mail.com',	'ana@mail.com', 'luisa@mail.com', 'carlos@mail.com', 'juan@mail.com'],
'Pais': ['colombia', 'Colombia', 'Mexico', 'Argentina', 'Colombia', 'Brazil', 'colombia'],
'Genero': ['M', 'F', 'H', 'F', 'Femenino', 'M', 'M'], 'Visitas': [5, 7, 6, 4, 8, 2, 5]
}

df = pd.DataFrame(data)

#1.Rellenar valores faltantes.
df['Edad'].fillna(df['Edad'].median(), inplace=True)

#2.Eliminar duplicados.
df.drop_duplicates(inplace=True)

#3.Estandarizar los valores de las columnas (como el género y el país).
df['Genero'].replace({'M': 'Masculino', 'H':'Hombre', 'F': 'Femenino', 'Femenino': 'Femenino'}, inplace=True)
df['Pais'] = df['Pais'].str.capitalize()

#4.Corregir valores inválidos (como la edad de 200 años).
df.loc[df['Edad'] > 100, 'Edad'] = df['Edad'].median()

#Ver los datos limpios
print("\nDatos limpios:")
print(df)

Datos limpios:
   Nombre   Edad            Email       Pais     Genero  Visitas
0    Juan  25.00    juan@mail.com   Colombia  Masculino        5
1   Maria  30.00   maria@mail.com   Colombia   Femenino        7
2   Pedro  28.50   pedro@mail.com     Mexico     Hombre        6
3     Ana  29.00     ana@mail.com  Argentina   Femenino        4
4   Luisa  28.00   luisa@mail.com   Colombia   Femenino        8
5  Carlos  28.75  carlos@mail.com     Brazil  Masculino        2

<ipython-input-58-26f74cfae3dc>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].median(), inplace=True)
<ipython-input-58-26f74cfae3dc>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'H':'Hombre', 'F': 'Femenino', 'Femenino': 'Femenino'}, inplace=True)